---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Courses">
  <h1 class="text-4xl font-bold">Courses</h1>
  <ul>
    <li><a href="courses/comp2521/">COMP2521 - Data Structures & Algorithms</a></li>
    <li><a href="courses/comp2511/">COMP2511 - Software Design & Architecture</a></li>
  </ul>
</Layout>