---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Courses">
  <h1 class="text-4xl font-bold">Courses</h1>
  <ul><a href="courses/comp2511/">COMP2511 - Software Design & Architecture</a></ul>
</Layout>