---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Courses">
  <h1 class="text-4xl font-bold dark:text-zinc-300">Courses</h1>
  <ul>
    <li><a href="/courses/comp2521/" class="dark:text-zinc-300">COMP2521 - Data Structures & Algorithms</a></li>
    <li><a href="/courses/comp2511/" class="dark:text-zinc-300">COMP2511 - Software Design & Architecture</a></li>
    <li><a href="/courses/comp3231/" class="dark:text-zinc-300">COMP3231 - Operating Systems</a></li>
  </ul>
</Layout>