<!-- src/pages/index.astro -->
---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gilbert">
  <h1 class="text-4xl font-bold dark:text-zinc-100">Hey, I'm Gilbert 👋</h1>
  <p class="mt-4 text-zinc-900 dark:text-zinc-300">I build things.</p>
</Layout>