---
import Layout from "../../layouts/Layout.astro";


---

<Layout title="COMP2521">
  <h1 class="text-4xl font-bold dark:text-zinc-300">COMP2521 - Data Structures & Algorithms</h1>
  
  <h2 class="dark:text-zinc-300">Course Notes</h2>
  <ul class="dark:text-zinc-300">
    <li><a href="sorting" class="text-inherit">Sorting</a></li>
    <li><a href="bst" class="text-inherit">Binary Search Trees</a></li>
    <li><a href="graphs" class="text-inherit">Graphs</a></li>
    <li><a href="graph-algorithms" class="text-inherit">Graph Algorithms</a></li>
    <li><a href="hash-tables" class="text-inherit">Hash Tables</a></li>
    <li><a href="priority-queues" class="text-inherit">Priority Queues</a></li>
    <li><a href="tries" class="text-inherit">Tries</a></li>
  </ul>

  <p class="mt-12 text-sm text-zinc-500 dark:text-zinc-400 border-t border-zinc-300 dark:border-zinc-700 pt-4">
    These are personal study notes for COMP2521 (Data Structures and Algorithms) at UNSW. Content is
    derived from course lectures and materials by their respective authors and reproduced here for study purposes under fair dealing. Diagrams
    are taken from course slides and remain the property of their original authors. Plz dont sue me.
  </p>

</Layout>