---
import Layout from "../../layouts/Layout.astro";


---

<Layout title="COMP2521">
  <h1 class="text-4xl font-bold">COMP2521 - Data Structures & Algorithms</h1>
  
  <h2>Course Notes</h2>
  <ul>
    <li><a href="sorting">Sorting</a></li>
    <li><a href="bst">Binary Search Trees</a></li>
    <li><a href="graphs">Graphs</a></li>
    <li><a href="graph-algorithms">Graph Algorithms</a></li>
    <li><a href="hash-tables">Hash Tables</a></li>
    <li><a href="priority-queues">Priority Queues</a></li>
    <li><a href="tries">Tries</a></li>
  </ul>
  
</Layout>