---
import Layout from "../../layouts/Layout.astro";


---

<Layout title="COMP2511">
  <h1 class="text-4xl font-bol dark:text-zinc-300">COMP2511 - Software Design & Architecture</h1>
  
  <h2 class="dark:text-zinc-300">Course Notes</h2>
  <ul class="dark:text-zinc-300">
    <li><a href="design-by-contract" class="text-inherit">Design by Contract</a></li>
    <li><a href="code-smells" class="text-inherit">Code Smells</a></li>
    <li><a href="design-patterns" class="text-inherit">Design Patterns</a></li>
    <li><a href="design-principles" class="text-inherit">Design Principles</a></li>
    <li><a href="software-architecture" class="text-inherit">Software Architecture</a></li>
  </ul>

  <p class="mt-12 text-sm text-zinc-500 dark:text-zinc-400 border-t border-zinc-300 dark:border-zinc-700 pt-4">
    These are personal study notes for COMP2511 (Software Design and Architecture) at UNSW. Content is
    derived from course lectures and materials by their respective authors and reproduced here for study purposes under fair dealing. Diagrams
    are taken from course slides and remain the property of their original authors. Plz dont sue me.
  </p>

</Layout>