---
import Layout from "../../layouts/Layout.astro";


---

<Layout title="COMP2511">
  <h1 class="text-4xl font-bold">COMP2511 - Software Design & Architecture</h1>
  
  <h2>Course Notes</h2>
  <ul>
    <li><a href="design-by-contract">Design by Contract</a></li>
    <li><a href="code-smells">Code Smells</a></li>
    <li><a href="design-patterns">Design Patterns</a></li>
    <li><a href="design-principles">Design Principles</a></li>
    <li><a href="software-architecture">Software Architecture</a></li>
  </ul>
  
</Layout>