---
import Layout from "../../layouts/Layout.astro";


---

<Layout title="COMP3231">
  <h1 class="text-4xl font-bol dark:text-zinc-300">COMP3231 - Operating Systems</h1>

  <h2 class="dark:text-zinc-300">Tutorials</h2>
  <ul class="dark:text-zinc-300">
    <li><a href="tutorials/wk03" class="text-inherit">Week 3</a></li>
  </ul>
  
  <h2 class="dark:text-zinc-300">Course Notes</h2>
  <ul class="dark:text-zinc-300">
    <li><a href="os-overview" class="text-inherit">Operating Systems Overview</a></li>
    <li><a href="process-threads" class="text-inherit">Processes & Threads</a></li>
    <li><a href="concurrency-synchronisation" class="text-inherit">Concurrency & Synchronisation</a></li>
  </ul>
  
</Layout>